:root {
    --bg-color: #4aa5ff;
    --bg-colour: #1300a3;
    --text-color: #1a1a1a;
}
[data-theme="dark"] {
    --bg-color: #060036;
    --bg-colour: #1300a3;
    --text-color: #f9f9f9;
}
body {
    background: linear-gradient(to right, var(--bg-color), var(--bg-colour));
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
    padding: 25px;
}
.head{
    width: 100%;
    height: 2px;
    background-color: black;
    margin: 0%;
}
.theme {
  background-image: url("../assets/theme.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #ffffff00;
  background-position: center;
}

input{
    margin: 35px;
    margin-left: 25px;
    width: 200px;
    height: 30px;
}
label{
    color: aliceblue;
    margin: 35px;
    font-family: 'Times New Roman', Times, serif;
}
.contact-me{
    margin-left: 20px;
    color: var(--text-color);
}
button{
    margin: 25px;
    width: 150px;
    height: 50px;
    background-color: rgb(0, 38, 153);
}
.form{
    width: auto;
    padding-top: 15px;
    background: linear-gradient(to right, var(--bg-color), var(--bg-colour));
    border-radius: 5%;
    border-top-left-radius: 0%;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(0, 0, 104);
}
textarea{
    width: 200px;
    height: 100px;
}